@charset "UTF-8";

/* ---------------------------------------------------------- *\
 * Globals.
\* ---------------------------------------------------------- */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;

  min-height: 100vh;
  margin: 0;
}

/* ---------------------------------------------------------- *\
 * Typography & colors.
\* ---------------------------------------------------------- */

html {
  color: #444444;

  font: 62.5%/1.6 "Trebuchet MS", Arial, Helvetica, sans-serif;
}

body {
  font-size: 1.26em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
}

h1 {
  font-size: 2.85em;
}

h2 {
  margin: 25px 0 15px 0;

  font-size: 1.9em;
}

::selection {
  color: white;
  background: #3398ff;
}

/* ---------------------------------------------------------- *\
 * Components - Links.
\* ---------------------------------------------------------- */

a,
a:visited {
  color: #0077dd;

  text-decoration: none;
}

a:hover {
  color: #005599;

  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: none;
}

/* ---------------------------------------------------------- *\
 * Components - Grid.
\* ---------------------------------------------------------- */

.grid {
  display: flex;
}

.grid .grid__item {
  padding-left: 25px;
}

.grid .grid__item:first-child {
  padding-left: 0;
}

/* ---------------------------------------------------------- *\
 * Components - Factsheet
\* ---------------------------------------------------------- */

.factsheet {
}

.factsheet dl {
  margin: 0;
}

.factsheet dt {
  font-weight: bold;
}

.factsheet dd {
  margin: 0;
}

.factsheet dd + dt {
  margin-top: 15px;
}

/* ---------------------------------------------------------- *\
 * Video player.
\* ---------------------------------------------------------- */

.video-player {
  position: relative;

  padding-bottom: 56.25%; /* 16:9 */
}

.video-player__frame {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

/* ---------------------------------------------------------- *\
 * Layout.
\* ---------------------------------------------------------- */

body {
  padding: 20px 0;
}

section {
  margin-bottom: 15px;
  padding-bottom: 15px;

  border-bottom: 1px solid rgb(221, 221, 221);
}

.page {
  display: flex;

  max-width: 955px;
  margin: 0 auto;
  padding: 0;
}

.page-nav {
  min-width: 25%;
}

.factsheet {
  min-width: 33%;
}

/* ---------------------------------------------------------- *\
 * Tmp.
\* ---------------------------------------------------------- */

img {
  max-width: 100%;
}
