@charset "UTF-8";

/* ---------------------------------------------------------- *\
 * Globals.
\* ---------------------------------------------------------- */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;

  min-height: 100vh;
  margin: 0;
}

/* ---------------------------------------------------------- *\
 * Typography & colors.
\* ---------------------------------------------------------- */

html {
  color: #444444;

  font: 62.5%/1.6 "Trebuchet MS", Arial, Helvetica, sans-serif;
}

body {
  font-size: 1.26em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
}

::selection {
  color: white;
  background: #3398ff;
}

/* ---------------------------------------------------------- *\
 * Basic elements.
\* ---------------------------------------------------------- */

h1 {
  margin: 0;

  font-size: 2.85em;
}

h2 {
  margin: 25px 0 15px 0;

  font-size: 1.9em;
}

p {
  margin: 15px 0;
}

/* Lists. */

ul,
ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: square;
}

dl {
  margin: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0;
}

dd + dt {
  margin-top: 15px;
}

/* ---------------------------------------------------------- *\
 * Layout.
\* ---------------------------------------------------------- */

body {
  padding: 20px 0;
}

.page {
  max-width: 955px;
  margin: 0 auto;
  padding: 0 25px;
}

@media (min-width: 800px) {
  .page {
    display: flex;
  }

  .page-nav {
    min-width: 25%;
  }

  .factsheet {
    min-width: 33%;
  }
}

/* ---------------------------------------------------------- *\
 * Components - Links.
\* ---------------------------------------------------------- */

a,
a:visited {
  color: #0077dd;

  text-decoration: none;
}

a:hover {
  color: #005599;

  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: none;
}

/* ---------------------------------------------------------- *\
 * Components - Block.
\* ---------------------------------------------------------- */

.block {
  margin-bottom: 15px;
  padding-bottom: 15px;

  border-bottom: 1px solid rgb(221, 221, 221);
}

.block__notice {
  margin-bottom: 15px;
  padding: 10px;

  color: #027194;
  background: #ebf7fd;
  border: 1px solid rgba(45,112,145,0.3);
  border-radius: 4px;
}

.block__notice a {
  color: inherit;
}

/* ---------------------------------------------------------- *\
 * Components - Grid.
\* ---------------------------------------------------------- */

@media (min-width: 800px) {
  .grid {
    display: flex;
  }

  .grid__item:not(:first-child) {
    padding-left: 25px;
  }
}

/* ---------------------------------------------------------- *\
 * Components - Video player.
\* ---------------------------------------------------------- */

.video-player {
  position: relative;

  padding-bottom: 56.25%; /* 16:9 */
}

.video-player__frame {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

/* ---------------------------------------------------------- *\
 * Components - Quote.
\* ---------------------------------------------------------- */

.quote {
}

.quote__content {
  margin: 0;
}

.quote__content::before {
  content: open-quote;
}

.quote__content::after {
  content: close-quote;
}

.quote__author::before {
  content: "-";
}

/* ---------------------------------------------------------- *\
 * Tmp.
\* ---------------------------------------------------------- */

img {
  max-width: 100%;
}
