<section>
  <h2>Videos</h2>

  {{#each presskit.trailers.trailer}}
  <div>
    <p>
      {{name}}
    </p>

    {{#youtube}}
    <div class="video-player">
      <iframe class="video-player__frame" src="https://www.youtube.com/embed/{{.}}" frameborder="0" allowfullscreen></iframe>
    </div>
    {{/youtube}}

    {{#vimeo}}
    <div class="video-player">
      <iframe class="video-player__frame" src="https://player.vimeo.com/video/{{.}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    {{/vimeo}}
  </div>
  {{/each}}
</section>

<section>
  <h2>Images</h2>
  <a href="images/images.zip">Download all images (.zip)</a>

  {{#each images.screenshots}}
  <img src="images/{{.}}">
  {{/each}}
</section>

<section>
  <h2>Logo & Icon</h2>
  <a href="images/logos-icons.zip">Download all logos & icons (.zip)</a>

  {{#images.logos}}
  <img src="images/{{.}}">
  {{/images.logos}}

  {{#images.icons}}
  <img src="images/{{.}}">
  {{/images.icons}}
</section>
