<section class="block">
  <h2>Videos</h2>

  {{#each presskit.trailers.trailer}}
  <div>
    {{#youtube}}
    <p>
      <strong>{{../name}}</strong> <a href="https://www.youtube.com/embed/{{.}}">YouTube</a>
    </p>

    <div class="video-player">
      <iframe class="video-player__frame" src="https://www.youtube.com/embed/{{.}}" frameborder="0" allowfullscreen></iframe>
    </div>
    {{/youtube}}

    {{#vimeo}}
    <p>
      <strong>{{../name}}</strong> <a href="https://player.vimeo.com/video/{{.}}">Vimeo</a>
    </p>

    <div class="video-player">
      <iframe class="video-player__frame" src="https://player.vimeo.com/video/{{.}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    {{/vimeo}}
  </div>
  {{/each}}
</section>

<section class="block">
  <h2>Images</h2>

  <aside class="block__notice">
    <a href="images/images.zip">download all screenshots & photos as .zip (XXMB)</a>
  </aside>

  {{#each images.screenshots}}
  <img src="images/{{.}}">
  {{/each}}
</section>

<section class="block">
  <h2>Logo & Icon</h2>

  <aside class="block__notice">
    <a href="images/logos-icons.zip">download logo files as .zip (XXMB)</a>
  </aside>

  {{#each images.logos}}
  <img src="images/{{.}}">
  {{/each}}

  {{#each images.icons}}
  <img src="images/{{.}}">
  {{/each}}
</section>
