<aside class="factsheet grid__item">
  <h2 id="factsheet" class="factsheet__title">Factsheet</h2>

  {{#if isCompany}}
  <dl class="factsheet__list">
    <dt>Developer:</dt>
    <dd>
      <a href=".">{{presskit.title}}</a>
    </dd>
    <dd>Based in {{presskit.basedIn}}</dd>

    <dt>Founding date:</dt>
    <dd>{{presskit.foundingDate}}</dd>

    <dt>Website:</dt>
    <dd>
      <a href="{{presskit.website}}">{{prettyURL presskit.website}}</a>
    </dd>

    <dt>Press / Business contact:</dt>
    <dd>
      <a href="mailto:{{presskit.pressContact}}">{{presskit.pressContact}}</a>
    </dd>

    <dt>Social:</dt>
    {{#each presskit.socials}}
    <dd>
      <a href="{{link}}">{{name}}</a>
    </dd>
    {{/each}}

    <dt>Releases:</dt>
    {{#each products}}
    <dd>
      <a href="{{permalink path}}">{{title}}</a>
    </dd>
    {{/each}}

    <dt>Address:</dt>
    {{#each presskit.address.line}}
    <dd>{{.}}</dd>
    {{/each}}

    <dt>Phone:</dt>
    <dd>{{presskit.phone}}</dd>
  </dl>
  {{/if}}

  {{#if isProduct}}
  <dl class="factsheet__list">
    <dt>Developer:</dt>
    <dd>
      <a href="..">{{company.title}}</a>
    </dd>
    <dd>Based in {{company.basedIn}}</dd>

    {{#each presskit.partners}}
    <dt>{{type}}:</dt>
    <dd>
      {{#if website}}
        <a href="{{website}}">{{title}}</a>
      {{else}}
        {{title}}
      {{/if}}
    </dd>
    {{#if basedIn}}<dd>Based in {{basedIn}}</dd>{{/if}}
    {{/each}}

    <dt>Release date:</dt>
    {{#each presskit.releaseDates}}
    <dd>{{.}}</dd>
    {{/each}}

    <dt>Platforms:</dt>
    {{#each presskit.platforms}}
    <dd>
      {{#if link}}
        <a href="{{link}}">{{name}}</a>
      {{else}}
        {{name}}
      {{/if}}
    </dd>
    {{/each}}

    <dt>Website:</dt>
    <dd>
      <a href="{{presskit.website}}">{{prettyURL presskit.website}}</a>
    </dd>

    <dt>Regular Price:</dt>
    {{#each presskit.prices}}
    <dd>{{currency}} {{value}}</dd>
    {{/each}}

    {{#each presskit.relations}}
    <dt>{{type}}:</dt>
    <dd>
      <a href="{{permalink path}}">{{text}}</a>
    </dd>
    {{/each}}

    {{#each presskit.relationOf}}
    <dt>{{type}} of:</dt>
    <dd>
      <a href="{{permalink path}}">{{text}}</a>
    </dd>
    {{/each}}
  </dl>

  {{#if presskit.pressCopyRequest}}
  <p class="press">
    <a href="{{presskit.pressCopyRequest}}" class="button" tabindex="0">
      Request Press Copy
    </a>
  </p>
  {{/if}}
  {{/if}}
</aside>
