{{#if presskit.widgets.mailchimp}}
<section class="block">
  <h2 id="mailing-list">Mailing List</h2>

  <!-- Begin MailChimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">

  <style type="text/css">
  	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
    #mc_embed_signup form {padding: 0;}
    #mc_embed_signup #mce-EMAIL{width: 100%;}
    #mc-embedded-subscribe {margin-top: 15px;}
  </style>

  <div id="mc_embed_signup">
    <form action="{{trim presskit.widgets.mailchimp}}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
      	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cb1093a5798d3677ea320108b_55e71ae780" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"></div>
      </div>
    </form>
  </div>
  <!--End mc_embed_signup-->
</section>
{{/if}}
