{{#if presskit.awards}}
<section class="block">
  <h2 id="awards">Awards & Recognition</h2>

  <ul>
    {{#each presskit.awards}}
    <li>"{{description}}" <cite>{{info}}</cite></li>
    {{/each}}
  </ul>
</section>
{{/if}}

{{#if presskit.quotes}}
<section class="block">
  <h2 id="articles">Selected Articles</h2>

  <ul>
    {{#each presskit.quotes}}
    <li class="quote">
      <blockquote class="quote__content" cite="{{link}}">
        {{description}}
      </blockquote>
      <cite class="quote__author">
        {{name}}, <a href="{{link}}">{{website}}</a>
      </cite>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

{{#if presskit.additionals}}
<section class="block">
  <h2 id="links">Additional Links</h2>

  <dl>
    {{#each presskit.additionals}}
    <dt>{{title}}</dt>
    <dd>
      {{description}} <a href="{{link}}">{{domainURL link}}</a>.
    </dd>
    {{/each}}
  </dl>
</section>
{{/if}}
