<section class="block">
  <h2>Awards & Recognition</h2>

  <ul>
    {{#each presskit.awards.award}}
    <li>{{description}} - {{info}}</li>
    {{/each}}
  </ul>
</section>

<section class="block">
  <h2>Selected Articles</h2>

  <ul>
    {{#presskit.quotes.quote}}
    <li>{{description}} - {{name}} (<a href="{{link}}">{{website}}</a>)</li>
    {{/presskit.quotes.quote}}
  </ul>
</section>

<section class="block">
  <h2>Additional Links</h2>

  <dl>
    {{#each presskit.additionals.additional}}
    <dt>{{title}}</dt>
    <dd>
      {{description}} <a href="{{link}}">{{domainURL link}}</a>
    </dd>
    {{/each}}
  </dl>
</section>
