<section class="block grid">
  <article class="grid__item">
    <h2>{{title}}</h2>

    <dl>
      {{#each presskit.credits.credit}}
      <dt>{{person}}</dt>

      <dd>
        {{#if website}}
          <a href="{{website}}">{{role}}</a>
        {{else}}
          {{role}}
        {{/if}}
      </dd>
      {{/each}}
    </dl>
  </article>

  {{#if showContact}}
  <article class="grid__item">
    <h2>Contact</h2>

    <dl>
      {{#each presskit.contacts.contact}}
        <dt>{{name}}</dt>

        <dd>
          {{#if mail}}
          <a href="mailto:{{mail}}">{{mail}}</a>
          {{/if}}

          {{#if link}}
          <a href="{{link}}">{{prettyURL link}}</a>
          {{/if}}
        </dd>
      {{/each}}
    </dl>
  </article>
  {{/if}}
</section>
