<section class="block grid _team-fix-margin-top">
  {{#if presskit.credits}}
  <article class="grid__item grid__item--flexible">
    {{#if title}}
    <h2 id="credits">{{title}}</h2>
    {{else}}
    <h2 id="credits">{{presskit.title}} Credits</h2>
    {{/if}}

    <dl>
      {{#each presskit.credits}}
      <dt>{{person}}</dt>

      <dd>
        {{#if website}}
          <a href="{{website}}">{{role}}</a>
        {{else}}
          {{role}}
        {{/if}}
      </dd>
      {{/each}}
    </dl>
  </article>
  {{/if}}

  {{#if presskit.contacts}}
  <article class="grid__item grid__item--flexible">
    <h2 id="contact">Contact</h2>

    <dl>
      {{#each presskit.contacts}}
      <dt>{{name}}</dt>

      <dd>
        {{#if mail}}
        <a href="mailto:{{mail}}">{{mail}}</a>
        {{/if}}

        {{#if link}}
        <a href="{{link}}">{{prettyURL link}}</a>
        {{/if}}
      </dd>
      {{/each}}
    </dl>
  </article>
  {{/if}}
</section>
